
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.icon-1{
    display: flex;
    color: white;
    padding: 1rem;
}

.icon-1 i{
    padding: .5rem;
    cursor: pointer;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(images/appic-HZ0IQ-icf_k-unsplash.jpg);
    background-size: cover;
   
    
}

header h1{
    color: white;
    padding: 1rem;
}

.sec-1 img{
    height: 60vh;
    width: 70vw;
}

.sec-1{
    margin-left: 15rem;
    margin-top: 5rem;
}

.btn-1{
    background-color: #ffed00;
    cursor: pointer;
    color: #002550;
    border-color: #ffed00;
    padding: 20px 40px;
    font-size: 18px;
    position: absolute;

}

.button-1 {
    position: absolute;
     margin-left: 5rem;
    margin-top: 13rem;
}

.btn-1:hover{
    background-color: #fff;
    color: #ffed00;
}


.content-0{
    position: absolute;
    margin-top: 35rem;
    margin-left: 20rem;
    font-size: 30px;
    font-weight: 400;
    padding-right: 20px;
    color: #002550;
    width: 900px;
    display: flex;
    z-index: 1;
}

.content-0 a i{
    color: #002550;
    font-size: 110px;
    margin-right: 5rem;
}


.content-0 i{
   padding: 2rem;
   font-size: 1.5rem;
   margin-top: -1.5rem;
   margin-left: 5rem;
}

.sec-2 .video-2{
    padding: 20px;
    opacity: .4;
}

.video-2:hover{
    opacity: 1;
   
}

.sec-2 img{
    margin-left: 2.5rem;
    margin-top: 9rem;
    
}

.sec-3 img{
    padding: 20px;
}

.sec-3{

    display: flex;
    padding: 15px;
    margin-top: 0;
}

.content{
    position: absolute;
    color: #fff;
    margin-top: 170px;
    margin-left: 100px;
}

.content h1{
    font-size: 36px;
    font-weight: 500px;
    padding: 10px;
}

.content p{
    font-size: 24px;
    padding: 10px;
}

.sec-4{
    padding: 40px;
}
.sec-4 img{
   opacity: .4;
    
}

.content-1{
    position: absolute;
    color: #002550;
    z-index: 1;
    margin-top: 170px;
    margin-left: 100px;
}

.content-1 h1{
    font-size: 36px;
    font-weight: 500px;
    padding: 10px;
}

.content-1 p{
    font-size: 17px;
    padding: 10px;
}


.sec-4 img:hover{
    opacity: 1;
  
}

.sec-5{
    display: flex;
    padding: 40px;
}

.sec-5 img{
    padding: 15px;
}

.content-3{

    color: #002550;
}

.content-3 p{
    padding: 10px;
}

.content-3 h1{
    padding: 10px;
}

.sec-6{
    display: flex;
    padding: 40px;
    margin-left: 2rem;
}

.sec-6 img{
    padding: 10px;
    height: 430px;
    width: 410px;
    padding-right: 0;
}

.p-6-2{
    background-color: #002550;
    color: #fff;
    height: 849px;
    padding: 10px;
    width: 520px;
    margin-top: 10px;
    text-align: center;
}


.content-4{
    margin-top: 50%;
}

.content-4 h1{
    padding: 10px;
    font-weight: 500px;
    font-size: 36px;
}

.content-4 p{
    padding: 10px;
    font-size: 17px;
}

.button-4{
    padding: 10px;
}

.btn-2{
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 1.05em 2.778em;
    background-color: transparent;
    color: #fff;
}

.btn-2:hover{
    border:1px solid #ffed00;
    color: #ffed00;
}

.sec-7{
    text-align: center;
    display: flex;
    color: #002550;
    padding: 40px;
}

.sec-7 h1{
    font-size: 1.375em;
    padding: 20px;
}

.btn-3{
    padding: 20px 40px;
    font-size: 18px;
    background-color: #002550;
    color: #fff;
    cursor: pointer;
}

.btn-3:hover{
    border-color: #002550;
    background-color: #fff;
    color: #002550;
    padding-left: 60px;

}

.sec-8 img{
    padding: 40px;
    width: 1500px;
    opacity: .4;
    margin-left: 1rem;
}

.sec-8 img:hover{
    opacity: 1;
   
}

.content-l{
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 26px;
    margin-top: 350px;
    margin-left: 100px;
    display: flex;
}

.content-l i{
    padding-left: 50px;
    font-size: 90px;
    cursor: pointer;
}


.footer{
    margin-top: 80px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.footer h1{
    font-size: 17px;
    font-weight: 700;
    color: #002550;
    padding: 10px;
}

.footer p{
    font-size: 16px;
    padding: 10px;
    color: #002550;
}

.copy{
    color: #002550;
    font-size: 15px;
    padding: 20px;
}

.copy p{
    padding: 10px;
}

.icon-f{
    font-size: 25px;
}

#fb{
    color: #4267B2;
}

#insta{
    color: #bc2a8d;
}

#yt{
    color: #FF0000;
}

#twt{
    color: #1DA1F2;
}
